@page "{key:long}"
@model barber.Pages.Statement.HistoryModel
@{
    ViewData["Title"] = "Statement History";
}

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>Key</th>
                <th>Revision</th>
                <th>Edited</th>
                <th>By</th>
                <th>Approved</th>
                <th>By</th>
                <th>Type</th>
                <th>Text</th>
                <th>JSON</th>
                <th>Check Database</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Revisions)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.StatementKey)</td>
                    <td>@Html.DisplayFor(modelItem => item.Revision)</td>
                    <td>@Html.DisplayFor(modelItem => item.EditDateTime)</td>
                    <td>@Html.DisplayFor(modelItem => item.EditByUserName)</td>
                    <td>@Html.DisplayFor(modelItem => item.ApproveDateTime)</td>
                    <td>@Html.DisplayFor(modelItem => item.ApproveByUserName)</td>
                    <td>@Html.DisplayFor(modelItem => item.StatementType)</td>
                    <td>@Html.DisplayFor(modelItem => item.StatementText)</td>
                    <td>@Html.DisplayFor(modelItem => item.StatementJson)</td>
                    <td>@Html.DisplayFor(modelItem => item.CheckDatabaseKey)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
