@page
@model barber.Pages.Database.ListModel
@{
    ViewData["Title"] = "Databases";
}

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th><a asp-page="Add">Add</a></th>
                <th>Key</th>
                <th>Revision</th>
                <th>Edited</th>
                <th>By</th>
                <th>Environment</th>
                <th>Server</th>
                <th>Database</th>
                <th>Authentication</th>
                <th>User Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Databases)
            {
                <tr>
                    <td><a asp-page="Edit" asp-route-key="@item.DatabaseKey">Edit</a></td>
                    <td>@Html.DisplayFor(modelItem => item.DatabaseKey)</td>
                    <td>@Html.DisplayFor(modelItem => item.Revision)</td>
                    <td>@Html.DisplayFor(modelItem => item.EditDateTime)</td>
                    <td>@Html.DisplayFor(modelItem => item.EditByUserName)</td>
                    <td>@Html.DisplayFor(modelItem => item.EnvironmentType)</td>
                    <td>@Html.DisplayFor(modelItem => item.ServerName)</td>
                    <td>@Html.DisplayFor(modelItem => item.DatabaseName)</td>
                    <td>@Html.DisplayFor(modelItem => item.AuthenticationType)</td>
                    <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
